<head>
    <title>JBA</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

<main>
    <h1 class="visually-hidden">JBA</h1>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold ">JavaScript Basketball Association</h1>
        <div class="col-lg-5 mx-auto justify-content-center"  style = "padding: 50px;">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/east">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Eastern Conference</button>
                </a>
                <a href="/west">
                    <button type="button" class="btn btn-primary btn-lg px-4">Western Conference</button>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
